@tailwind base;
@tailwind components;
@tailwind utilities;

.container1 {
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .container1 {
    width: 1450px;
    margin: 0 auto;
  }
}
.bg {
  background-color: transparent;
}
